@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default; ;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
 
}.btn-primary {
 @apply bg-gradient-to-r from-[#632EE3] to-[#9F62F2] ;
}
.btn-primary:hover {
 @apply opacity-90 ;
}
/* .text-primary {
 @apply text-gradient-to-r from-[#632EE3] to-[#9F62F2] ;
} */