@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default; ;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
 
}.btn-primary {
 @apply bg-gradient-to-r from-[#632EE3] to-[#9F62F2] ;
}
.btn-primary:hover {
 @apply opacity-90 ;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  font-family: 'Inter', sans-serif;
}
